@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
}

.txt {
    width: 30vw;
    border-radius: 0.5vw;
    border: solid black 0.1vw;
    padding: 0.4vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
    background-color: rgb(209, 225, 239);
    margin: 0 13vw 0 13vw;
    border-radius: 1vw;
}

.container img {
    width: 30vw;
    margin-right: 3vw;
}

#submit {
    text-align: center;

}

.title {
    padding-top: 1.5vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    margin-bottom: 3vw;
}

input {
    margin: 0.75vw 0 1.5vw 0;
    height: 3vw;
    font-size: 1.5vw;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

#rad {
    margin-left: 4vw;
}

.container button {
    font-size: 1.75vw;
    padding: 0.8vw 3vw 0.8vw 3vw;
    color: black;
    border: black solid .1vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    transition: .5s;
    border-radius: .5vw;
    text-decoration: none;
}

.container button:hover {
    background-color: #8fb9d9;
    cursor: pointer;
}